@media(max-width: 1400px) {

    .container {
        max-width: 90%;
    }

    .header-top{
        height: 8vh; 
    }

    .main-nav{
        flex: 6;
    }
    
    .access-menu-item-link span{
        display: none; 
    }

    .access-nav{
        flex: 3; 
    }

    .big-picture{
        height: 67vh; 
    }

    .icon-container{
        height: 30vh;
    }
}

@media(max-width: 1086px){

    .container{
        max-width: 100%; 
    }

    .header-bottom{
        background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4B4o2?ver=84c1&q=0&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=0&y=732&s=1100&d=618&aim=true) no-repeat center center/cover;
    }

    .second-hero{
        background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4zr9t?ver=2fd2&q=0&m=8&h=609&w=1083&b=%23FFFFFFFF&l=f&x=0&y=0&s=2116&d=1190&aim=true) no-repeat center center/cover;
    }

}